<div class="card-columns mt-3">
    <div *ngFor="let elemento of elementos" class="card">
      <!-- noimagn es el pipe creado-->
      <img [src]="elemento.images | noimagen" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{elemento.name}}</h5>
        <div *ngIf="elemento.artists && elemento.release_date">
            <p class="card-text">
                <span *ngFor="let artista of elemento.artists" class="badge badge-pill badge-primary">{{artista.name}}</span>
            </p>
            <p class="card-text"><small class="text-muted">{{elemento.release_date}}</small></p>
        </div>
      </div>
    </div>
</div>
